body{
  padding: 0;
  margin: 0;
  font-family: montserrat;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  height: 100vh;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    font-weight: 700;
  }
  form {
    padding: 0 40px;
    box-sizing: border-box;
    .field {
      position: relative;
      border-bottom: 2px solid #adadad;
      margin: 30px 0;
      input {
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none;
        background: none;
        outline: none;
      }
      label {
        position: absolute;
        top: 50%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
      }
      input:focus ~ label,
      input:valid ~ label {
        top: -5px;
      }
      span::before {
        content: "";
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #2691b9;
      }
    }
    button {
      width: 100%;
      height: 50px;
      border: 1px solid;
      background: #2691b9;
      border-radius: 25px;
      font-size: 18px;
      font-weight: 700;
      color: white;
      cursor: pointer;
      outline: none;
    }
    button:hover {
      border-color: #2691b9;
      transition: 0.5s;
    }
  }
}
@media all and (max-width: 992px) {
  .center{
    .menu{
      .names{
        h1{
          font-size: 35px;
        }
      }
      ul{
        li{
          span{
            display: none;
          }
        }
      }
    }
  }
}
@media all and (max-width: 768px) {
  .center{
    .menu{
      .names{
        h1{
          font-size: 30px;
        }
      }
      ul{
        li{
          span{
            display: none;
          }
        }
      }
    }
  }
}
@media all and (max-width: 576px) {
  .center{
    .menu{
      .names{
        h1{
          font-size: 25px;
        }
      }
      ul{
        li{
          span{
            display: none;
          }
        }
      }
    }
  }
}
